<h1>Add Definition:</h1>

<p>Add definition here:</p>

<form action="/filled_form/definition" method="post">
  <label for="definition_entry">Type a Definition:</label>
  <input id="definition_entry" name="definition_entry" type="text">
  <button type="submit">Add Definition</button>
</form>
