
<h3>Definitions for</h3>
<hr>
<h1><%= @word.word() %></h1>
<hr>
<ul>
  <% @word.definition().each() do |definition| %>
  <li> <%=  @word.definition() %></li>
  <% end  %>
</ul>
<hr>

<a href="/word/<%= @word.id() %>/definition/">Add a Definition</a>

<a href="/">Back to Words</a>
